<p id="notice"><%= notice %></p>

<p>
  <strong>Base:</strong>
  <%= @phone.base %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @phone.phone %>
</p>

<p>
  <strong>Call:</strong>
  <%= @phone.call %>
</p>

<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @phone.status %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
